table {
    font-family: arial, sans-serif;
    margin-top: 15px;
    border-collapse: collapse;
    margin: auto;

  }
  
  td, th {
    border: 1px solid #344e41;
    text-align: center;
    padding: 8px;
  }

  th{
    background-color: #588157;
  }
  
  tr:nth-child(odd) {
    background-color: #a3b18a;
  }