table {
    margin-top: 50px;
    border-collapse: collapse;
    margin: auto;

  }
  
  td, th {
    border: 2px solid #15171c;
    text-align: center;
    padding: 8px;
  }

  th{
    background-color: #15171c;
    color: white;

  }
  
  tr:nth-child(odd) {
    background-color: #dee2e6;
  }