@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
<<<<<<< Updated upstream
  font-family: 'PT Sans', sans-serif;
}
=======
  font-family: "PT Sans", sans-serif;
}

.home .reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
>>>>>>> Stashed changes
